<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
    <a href="/authors">Authors</a> | 
    <a href="/authors/create">Create new author</a> | 
    <a href="/books">Books</a> | 
    <a href="/books/create">Create new book</a>
</p>

<p>
    <a href="/signup">Register</a> |
</p>